#pags {
  list-style: none;
  display: flex;
}

#pags > li {
  margin-right: 0.3em;
  margin-left: 40px;
  color: blue;
  user-select: none;
  cursor: pointer;
  font-size: 40px;
}
.table{
	margin-top: 40px;
}